.resume-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.resume-item {}

.resume-item h1 {
  margin-bottom: 5px;
}

.resume-item span {}


  
.basicStyle {
  width: 793.8px;
min-height: 1122.66px;
}
.react-transform-wrapper{
  width: 100% !important;
  height: 97vh !important;
}